In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as p

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
s=p.Series([4,8,15,16,23,42])
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
l=[1,2,3,4,5,6,7,8,9,10]
s1=p.Series(l)
print(s1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
    
        NameError     Age    Gender
        Alice         25     Female
        Bob           30     Male
        Claire        27     Female        
Then, print the DataFrame.

In [5]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = p.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [6]:
# Answer:
'''A DataFrame is a two-dimensional table-like data structure, while a Series is a one-dimensional column-like data structure. 
    A DataFrame can contain multiple columns and rows, while a Series contains only one column of data with an index.'''

# Example of DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = p.DataFrame(data)
print(df)

# Example of Series
age_series = df['Age']
print(age_series)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
0    25
1    30
2    27
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [7]:
# df.head(n) - returns the first n rows of the DataFrame.
# Example: df.head(10) - returns the first 10 rows of the DataFrame.

# df.tail(n) - returns the last n rows of the DataFrame.
# Example: df.tail(5) - returns the last 5 rows of the DataFrame.

# df.describe() - provides summary statistics for numerical columns in the DataFrame.
# Example: df.describe() - returns count, mean, standard deviation, minimum, and maximum values for numerical columns.

# df.info() - displays information about the DataFrame, including the number of non-null values in each column and the data type of each column.
# Example: df.info() - displays information about the DataFrame

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [8]:
#Answer:
'''Series and DataFrame both are mutable in nature, which means that you can modify their values,
    add or delete rows or columns, and change their structure.
    Panel is a 3-dimensional data structure in Pandas which is used less frequently compared to Series and DataFrame.However, it is also mutable in nature,
    and you can add or remove items, change the values of individual items, and modify the structure of the Panel.'''

'Series and DataFrame both are mutable in nature, which means that you can modify their values,\n    add or delete rows or columns, and change their structure.\n    Panel is a 3-dimensional data structure in Pandas which is used less frequently compared to Series and DataFrame.However, it is also mutable in nature,\n    and you can add or remove items, change the values of individual items, and modify the structure of the Panel.'

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
name_series = p.Series(['Alice', 'Bob', 'Claire'])
age_series = p.Series([25, 30, 27])
gender_series = p.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
data = {'Name': name_series, 'Age': age_series, 'Gender': gender_series}
df = p.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female