In [10]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

Q1. List any five functions of the pandas library with execution.

In [2]:
# Answer:
# 1. pd.read_csv(): This function is used to read a CSV file and convert it to a Pandas DataFrame.
# 2. df.groupby(): This function is used to group rows of a DataFrame based on the values in one or more columns.
# 3. df.merge(): This function is used to combine two DataFrames based on one or more common columns.
# 4. df.pivot_table(): This function is used to create a pivot table from a DataFrame.
# 5. df.plot(): This function is used to create a plot from a DataFrame.

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the 
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [9]:
def reindex_df(df):
    # Get the number of rows in the DataFrame
    num_rows = len(df)
    # Create a new index that starts from 1 and increments by 2 for each row
    new_index = pd.RangeIndex(start=1, stop=num_rows*2, step=2)
    # Re-index the DataFrame with the new index
    df = df.reindex(new_index)
    return df

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that 
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The 
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should 
calculate and print the sum of the first three values, which is 60.

In [12]:
def sum_of_values(df):
    values = df['Values'][:3]
    total = sum(values)
    print(total)
    
# Creating a sample DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_of_values(df)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [13]:
def add_word_count(df):
    words = df['Text'].str.split()
    word_count = words.apply(len)
    df['Word_Count'] = word_count
    return df

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [12]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Using the size() method
print("Output of size method:",df.size) #DataFrame.size() returns the total number of elements in the DataFrame

# Using the shape() method
print("Output of shape method:",df.shape) #DataFrame.shape() returns a tuple containing the number of rows and columns in the DataFrame, in that order.

Output of size method: 9
Output of shape method: (3, 3)

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
# Answer:
'''In Pandas, we use the read_excel() function to read data from an Excel file. This function can read both .xls and .xlsx file formats.'''

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email 
addresses in the format 'username@domain.com'. Write a Python function that creates a new column 
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the 
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your 
function should extract the username from each email address and store it in the new 'Username' 
column.

In [18]:
def username(df):
    # Splitting the email addresses at '@' and extracting the first part
    usernames = df['Email'].apply(lambda x: x.split('@')[0])
    df['Username'] = usernames
    return df
df = pd.DataFrame({'Email':['john.doe@example.com','jaoswalji@gmail.com']})
username(df)

                  Email   Username
0  john.doe@example.com   john.doe
1   jaoswalji@gmail.com  jaoswalji

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects 
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The 
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

   A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2
Assignment
Data Science Masters
Your function should select the following rows:   A   B   C

1  8   2   7

4  9   1   2

The function should return a new DataFrame that contains only the selected rows.

In [19]:
def select_rows(df):
    # Boolean indexing to select rows based on conditions
    selected_rows = df.loc[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows
df = pd.DataFrame({'A': [3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
select_rows(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, 
median, and standard deviation of the values in the 'Values' column.

In [23]:
def calculate(df, column):
    # Calculate mean, median, and standard deviation
    mean = df[column].mean()
    median = df[column].median()
    std_dev = df[column].std()
    print("Mean:", mean)
    print("Median:", median)
    print("Standard Deviation:", std_dev)

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
calculate(df, 'Values')

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to 
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days 
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and 
should include the current day.

In [24]:
def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new 
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. 
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

         Date

0  2023-01-01

1  2023-01-02

2  2023-01-03

3  2023-01-04

4  2023-01-05

Your function should create the following DataFrame:


         Date    Weekday

0  2023-01-01    Sunday

1  2023-01-02     Monday

2  2023-01-03    Tuesday

3  2023-01-04    Wednesday

4  2023-01-05    Thursday

The function should return the modified DataFrame.

In [11]:
def add_weekday_column(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.strftime('%A')
    return df

df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', end='2023-01-05')})
df = add_weekday_column(df)
df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python 
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [15]:
def time_rows(df):
    df['Date'] = pd.to_datetime(df['Date'])
    # Filter the DataFrame to select rows where the date is between '2023-01-01' and '2023-01-31'
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    result = df.loc[mask]
    return result

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to 
be imported?

In [16]:
# Answer:
'''The first and foremost necessary library that needs to be imported to use the basic functions of pandas is 'pandas' itself. 
    The conventional way of importing pandas is by using the statement import pandas as pd.'''

"The first and foremost necessary library that needs to be imported to use the basic functions of pandas is 'pandas' itself. \n    The conventional way of importing pandas is by using the statement import pandas as pd."