Consider following code to answer further questions:

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration =  [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [3]:
# Answer:
'''loc uses the labels of the index and columns while iloc uses the integer positions of the index and columns to select the data.'''

'loc uses the labels of the index and columns while iloc uses the integer positions of the index and columns to select the data.'

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df 
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [4]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
print(new_df)
print(new_df.loc[2])
print(new_df.iloc[2])

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Did you observe any difference in both the outputs? If so then explain it.

Consider the below code to answer further questions:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [5]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) 	mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [6]:
# 1.Mean of each column:
mean_of_columns = df1.mean()
print("Mean of each column:\n", mean_of_columns)

# 2.Standard deviation of column 'column_2':
std_column_2 = df1['column_2'].std()
print("\nStandard deviation of column 'column_2':", std_column_2)

Mean of each column:
 column_1    0.492680
column_2    0.671660
column_3    0.459193
column_4    0.468640
column_5    0.305650
column_6    0.567793
dtype: float64

Standard deviation of column 'column_2': 0.20359692095485615

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the 
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [8]:
df1.loc[2, 'column_2'] = 'some_string'
mean_column2 = df1['column_2'].mean()
print(mean_column2) 

# Reason:
''' This code gives TypeError because it cannot calculate the mean of a string data type.In this case, 
    it is necessary to convert the column 'column_2' back to a numeric data type before computing the mean.'''

" This code gives TypeError because it cannot calculate the mean of a string data type.In this case, \n    it is necessary to convert the column 'column_2' back to a numeric data type before computing the mean."

Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In [9]:
# Answer:
'''In Pandas, the window function is a way of performing calculations on a moving subset of data in a DataFrame or Series.
    It allows us to define a window or subset of data over which we can apply various statistical or mathematical calculations such as mean, median, min, max, etc.'''
# list of window function 
'''[Rolling Window,Expanding Window,Exponential Weighted Moving Average,Rolling Apply,Rolling Aggregations,Groupby Rolling]'''

'[Rolling Window,Expanding Window,Exponential Weighted Moving Average,Rolling Apply,Rolling Aggregations,Groupby Rolling]'

Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

In [10]:
current_date = pd.datetime.now()
print(current_date.strftime('%B %Y'))

April 2023

/tmp/ipykernel_2624/2454931978.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_date = pd.datetime.now()

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and 
calculates the difference between them in days, hours, and minutes using Pandas time delta. The 
program should prompt the user to enter the dates and display the result.

In [12]:
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)
time_diff = date2 - date1

# Extract the days, hours, and minutes from the timedelta object
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60
print(f"The difference between {date1.date()} and {date2.date()} is {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD):  2023-04-17
Enter the second date (YYYY-MM-DD):  2023-04-29

The difference between 2023-04-17 and 2023-04-29 is 12 days, 0 hours, and 0 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified 
column to a categorical data type. The program should prompt the user to enter the file path, column 
name, and category order, and then display the sorted data.

In [14]:
file_path = input("Enter the file path: ")
column_name = input("Enter the column name to convert to categorical data: ")
category_order = input("Enter the category order (separated by commas): ").split(",")
# Read CSV file
df = pd.read_csv(file_path)
# Convert column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order)
# Sort data by the specified column
df = df.sort_values(by=column_name)
print(df)

Enter the file path:  taxonomy.csv
Enter the column name to convert to categorical data:  name
Enter the category order (separated by commas):  Clothing

    taxonomy_id      name parent_id           parent_name
50       104-02  Clothing       104                 Goods
0           101       NaN       NaN                   NaN
1        101-01       NaN       101             Emergency
2        101-02       NaN       101             Emergency
3     101-02-01       NaN    101-02        Emergency Cash
..          ...       ...       ...                   ...
285   111-01-07       NaN    111-01  Advocacy & Legal Aid
286      111-02       NaN       111                 Legal
287      111-03       NaN       111                 Legal
288      111-04       NaN       111                 Legal
289      111-05       NaN       111                 Legal

[290 rows x 4 columns]

Q10. Write a Python program that reads a CSV file containing sales data for different products and 
visualizes the data using a stacked bar chart to show the sales of each product category over time. The 
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = input("Enter the file path of the CSV file: ")
df = pd.read_csv(file_path)
df['Date'] = pd.to_datetime(df['Date'])

# group data by product category and time period
df_grouped = df.groupby(['Product Category', pd.Grouper(key='Date', freq='M')])['Sales'].sum().reset_index()

# pivot table to reshape data for stacked bar chart
df_pivot = df_grouped.pivot(index='Date', columns='Product Category', values='Sales')

# plot stacked bar chart
ax = df_pivot.plot(kind='bar', stacked=True, figsize=(10,6))
ax.set_xlabel('Time Period (Monthly)')
ax.set_ylabel('Sales')
ax.set_title('Sales by Product Category over Time')
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write 
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and 
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv


+-----------+--------+

| Statistic | Value  |

+-----------+--------+

| Mean      | 79.6   |

| Median    | 82     |

| Mode      | 85, 90 |

+-----------+--------+


Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85


The program should calculate the mean, median, and mode of the test scores and display the results 
in a table

In [ ]:
import pandas as pd

file_path = input("Enter the file path of the CSV file containing the student data: ")
# Read the CSV file
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode().tolist()

# Display the mean, median, and mode in a table
table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'], 'Value': [mean, median, mode]})
print(table)